{% extends 'base.html.twig' %}

{% block title %}New ListePoint{% endblock %}

{% block body %}
    <h1>Create new ListePoint</h1>

    {{ include('liste_point/_form.html.twig') }}

    <a href="{{ path('liste_point_index') }}">back to list</a>
{% endblock %}
