<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Rentrée des étudiants!{% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

<!-- LOADING FONTS AND ICONS -->
<link href="http://fonts.googleapis.com/css?family=Poppins:700|Oswald:300" rel="stylesheet" property="stylesheet"
    type="text/css" media="all">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
<link rel="stylesheet" type="text/css" href="/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">

<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="/css/settings.css">

<!-- FONT AND STYLE FOR BASIC DOCUMENTS, NO NEED FOR FURTHER USAGE IN YOUR PROJECTS-->
<link href="http://fonts.googleapis.com/css?family=Roboto%3A700%2C300" rel="stylesheet" property="stylesheet"
    type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/noneed.css">

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>

<!-- PARTICLES ADD-ON FILES -->
<link rel='stylesheet' href='/particles/css/revolution.addon.particles.css?ver=1.0.3' type='text/css' media='all' />
<script type='text/javascript' src='/particles/js/revolution.addon.particles.min.js?ver=1.0.3'></script>


   <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/extensions/revolution.extension.video.min.js"></script>

<link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/header2.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/hover.min.css.css">
  <link rel="stylesheet" href="/css/formulaire.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/galerie.css">
  <link rel="stylesheet" href="/css/login.css" >
  <link rel="stylesheet" href="/css/modifadmin.css" >
  <link rel="stylesheet" href="style/css/style.css">
  {% block stylesheets %}{% endblock %}
</head>


<section class="navigation">
<body>
  <nav>
    <label for="menu-mobile" class="menu-mobile">menu</label>
    <input type="checkbox" id="menu-mobile" role="button">
    <ul>
      <li class="menu-home"><a href="/"><i style="font-size:1em" class="fas fa-home"></i></a>
      </li>
      <li class="menu-inscription"><a href="">INSCRIPTIONS</a>
        <ul class="sousmenu">
          <li><a href="/formulexpress">Carolo Express</a></li>
          <li><a href="/formulwarrior.">Carolo Warrior</a></li>
          <li><a href="/formulcuisine.">Concours Cuisine</a></li>
          <li><a href="/formulpiquenique">Pique-nique</a></li>
        </ul>
      </li>
      <li class="menu-logomairie"><a href="https://www.charleville-mezieres.fr/"><img id="logocm"
            src="/img/logos/logomairieCM.png" alt="logocm" /></a>
      </li>
      <li class="menu-contact"><a href="/contact">CONTACT</a>
      </li>
      <li class="menu-faq"><a href="/faq">FAQ</a>
      </li>
    </ul>

  </nav>
  </section> 
  {% block body %}{% endblock %}
  
    
    <footer>
<section class="piedpage">
      <div class="container">
      <div><a href="https://www.grandest.fr/" target="_blank"><img src="img/Logos/grandest1.png"
                      class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.ardenne-metropole.fr" target="_blank"><img src="img/Logos/ARDENNE-LOGO-RVB.png"
                      class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.crous-reims.fr/" target="_blank"><img src="img/Logos/Crous Reims.png" class="hvr-pulse"
                      alt=""></a>
          </div>
          <div><a href="http://www.decathlon.fr" target="_blank"><img src="img/Logos/decathlon.jpg" class="hvr-pulse"
                      alt=""></a></div>
          <div><a href="http://www.facebook.com/associationflap" target="_blank"><img
                      src="img/Logos/FLaP (nouveau logo 2019)-1.png" class="hvr-pulse" alt=""></a></div>
          <div><a href="" target="_blank"><img src="img/Logos/intercampus.jpg" class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.jeanteur.fr" target="_blank"><img src="img/Logos/jeanteur.png" class="hvr-pulse"
                      alt=""></a></div>
          <div><a href="http://www.orange.fr"><img src="img/Logos/orange-logo-vector.png" class="hvr-pulse" alt=""></a>
          </div>
          <div><a href="https://o-tacos.com/fr/" target="_blank"><img src="img/Logos/otacos.png" class="hvr-pulse"
                      alt=""></a></div>
          <div><a href="https://www.yves-rocher.fr/" target="_blank"><img src="img/Logos/yvesrocher.png" class="hvr-pulse"
                      alt=""></a>
          </div>
          <div><a href="http://www.ardennes.gouv.fr/" target="_blank"><img src="img/Logos/Prefecture new.jpg"
                      class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.rimbaud-librairie.fr/" target="_blank"><img src="img/Logos/Rimbaud librairie.png"
                      class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.terraltitude.com" target="_blank"><img src="img/Logos/TERRALTITUDE LOGO.jpg"
                      class="hvr-pulse" alt=""></a></div>
          <div><a href="http://www.ardennes.com › DETAIL" target="_blank"><img src="img/Logos/vitrines-charleville.png"
                      class="hvr-pulse" alt=""></a></div>
  
      </div>
  
      <!-- Footer Elements -->
  
      <!-- Add font awesome icons -->
      <div class="reseaux_sociaux">
          <a class="facebook" style="color: red !important" href="facebook.fr"> <i class="fab fa-facebook fa-3x"></i></a>
  
          <a class="twitter" style="color: red !important" href="twitter.fr"><i class="fab fa-twitter fa-3x"></i></a>
          
      </div>
      <!-- Copyright -->
      <div class="text":center>
          <center><p class="ecrit">© 2019 Copyright: <a href="">G.Ponsard & J.Collart</a><a href="mentionslegales.php">
                  Mentions légales </a><a href="politiqueconfidentialites.php"> Politique de confidentialité </a><a
                  href="CGU.php"> CGU </a></p></center>
      </div>
      <!-- Copyright -->
      </section>
  </footer>
  
  {% block javascripts %}{% endblock %}

  
    <script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <script type="text/javascript" src="../../assets/warning.js"></script>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>