{% extends 'base.html.twig' %}

 {% block body %}

 <h2>EDITION 2018</h2>
        <div class="anciennephoto">
            <div class="hvr-grow-rotate"><a href="galerie.php">
                    <img src="img/JournéeEtudiants/Journée accueil Etudiants 27 09 2018 (126).JPG" class="img-fluid"
                        alt=""></a>
                <p>Remise des prix<br>Place Ducale</p>
            </div>
            <div class="hvr-grow-rotate"><a href="galerie.php">
                    <img src="img/JournéeEtudiants/Journée accueil Etudiants 27 09 2018 (69).JPG" class="img-fluid"
                        alt=""></a>
                <p>Carolo Warrior<br>Plaine du Mont-Olympe</p>
            </div>
            <div class="hvr-grow-rotate"><a href="galerie.php">
                    <img src="img/JournéeEtudiants/Journée accueil Etudiants 27 09 2018 (13).JPG" class="img-fluid"
                        alt=""></a>
                <p>Pique Nique<br>Plaine du Mont-Olympe</p>
            </div>
            <div class="hvr-grow-rotate"><a href="galerie.php">
                    <img src="img/JournéeEtudiants/Journée accueil Etudiants 27 09 2018 (115).JPG" class="img-fluid"
                        alt=""></a>
                <p>Remise des prix<br>Place Ducale</p>
            </div>
            <div class="hvr-grow-rotate"><a href="galerie.php">
                    <img src="img/JournéeEtudiants/Journée accueil Etudiants 27 09 2018 (41).JPG" class="img-fluid"
                        alt=""></a>
                <p>Carolo Warrior<br>Plaine du Mont-Olympe</p>
            </div>
        </div>

{% endblock %}
    
