{% extends 'base.html.twig' %}

{% block body %}
<section class="faq">
<div id="demotext">
    <br><br>
   
    <label for="recherche-site"><strong style="text-decoration: underline; color:black;">Chercher sur le site:</strong></label>
    <input type="recherche" id="recherche-site" name="q" aria-label="Rechercher dans le contenu du site">
    <button>Chercher</button>
    <br>
    <center>
      <h1> BIENVENUE DANS LA FAQ </h1>
    </center>
    <p><br>
      <h2 style="background:yellow;">
        <center>Questions générales</center>
      </h2><br>
      <ul>
        <li><strong style="text-decoration: underline;">Si je suis habitant du territoire et toujours en étude dans un
            établissement qui ne se trouve pas sur la commune de Charleville-Mézières ou au sein du périmètre Ardenne
            Métropole, puis-je malgré tout participer à la Rentrée des étudiants ?</strong></li>
        Non, désolé, cette manifestation est dédiée aux étudiants qui poursuivent une formation post bac sur le territoire
        de Charleville-Mézières et/ou sur le périmètre de Ardenne Métropole.<br>
        <br>
        <li><strong style="text-decoration: underline;">Puis-je m’inscrire jusqu’au dernier moment ?</strong></li>
        Les inscriptions seront closes quelques jours avant la manifestation afin d’assurer la bonne organisation des
        activités.<br>
        <br>
        <li><strong style="text-decoration: underline;">Est-ce que les inscriptions aux activités peuvent se faire via le
            « bouton » contact ?</strong></li>
        Non, des formulaires d’inscription ont été créés spécifiquement pour s’inscrire aux activités. Seules les
        inscriptions validées via les formulaires dédiées seront acceptées.<br>
        <br>
        <li><strong style="text-decoration: underline;">Est-ce que les activités sont payantes ?</li></strong>
        Non, l’opération est organisée et prise en charge par la Ville de Charleville-Mézières en lien avec de nombreux
        partenaires. En revanche, les repas pique-nique nécessitent une participation de 3€ pour les 200 premières
        inscriptions puis 5€.<br>
        <br>
        <li><strong style="text-decoration: underline;">Puis-je m’inscrire à plusieurs activités dans la journée
            ?</strong></li>
        Oui.<br>
        <br>
        
        <h2 style="background:yellow;">
          <center>Questions Carolo Express ou Carolo Warrior</center>
        </h2>
        <br>
  
        <li><strong style="text-decoration: underline;">Puis-je m’inscrire à moins ou plus de 5 personnes au Carolo
            Express et à moins ou plus de 8 personnes au Carolo Warrior ?</strong></li>
        Pour la bonne organisation de ces animations, l’inscription à 5 personnes est obligatoire pour le Carolo express
        et à 8 personnes pour le Carolo Warrior.<br>
        <br>
        <li><strong style="text-decoration: underline;">Peux-ton venir de différents établissements pour composer une
            équipe au Carolo Express ou Carolo Warrior ?</strong></li>
        Oui, il est possible que les membres d’une même équipe proviennent d’établissements différents.<br>
        <br>
        <li><strong style="text-decoration: underline;">Si je souhaite changer d’équipe, puis-je annuler mon inscription
            et recommencer ?</strong></li>
        Pour la bonne organisation de ces animations, les annulations tardives ne pourront pas être acceptées. Ce faisant,
        prenez le temps de bien choisir vos « camarades » de jeu.<br>
        <br>
        
        <h2 style="background:yellow;">
          <center>Questions Concours de cuisine</center>
        </h2>
        <br>
  
        <li><strong style="text-decoration: underline;">Puis-je m’inscrire à moins ou plus de 2 personnes au Concours de
            cuisine?</strong></li>
        Pour la bonne organisation de cette animations, l’inscription à 2 est obligatoire pour le Concours de cuisine.<br>
        <br>
        <h2 style="background:yellow;">
          <center>Questions pique-nique</center>
        </h2>
        <br>
  
        <li><strong style="text-decoration: underline;">Pourquoi ne puis-je pas réserver plus d’un repas pour le
            pique-nique ?</strong></li>
        La réservation des repas pique-nique est limitée à un repas par personne afin de permettre à un maximum de
        personne d’accéder aux 200 premiers repas à 3€.<br>
        <br>
        <li><strong style="text-decoration: underline;">Comment se déroule le paiement du repas pour le pique-nique
            ?</strong></li>
        Vous pourrez payer votre repas le jour J, sur place, sur la Plaine du Mont-Olympe. Seules les 200 premières
        personnes inscrites pourront bénéficier de la formule à 3€.<br>
        <br>
        <li><strong style="text-decoration: underline;">Pourquoi le tarif à 3€ est limité aux 200 premières commandes
            ?</strong></li>
        Les 200 premières commandes bénéficient d’un prix avantageux. Le prix réel de la formule est à 5€. La Ville de
        Charleville-Mézières prend à sa charge la différence pour les 200 premières commandes. Ce faisant, il est
        recommandé de ne pas tarder pour réserver son repas.<br>
        <br>
        <li><strong style="text-decoration: underline;">Quel est le risque si je commande un repas mais que je ne l’honore
            pas ?</strong></li>
        Vous aurez tout simplement empêché une autre personne de bénéficier d’un repas à tarif réduit. En cas
        d’annulations abusives, les organisateurs ne s’interdissent pas d’exclure un éventuel gagnant à l’une des
        activités qui n’aurait pas honoré son inscription au pique-nique.<br>
        <br>
        <h2 style="background:yellow;">
          <center>Questions chéquier-étudiant</center>
        </h2>
        <br>
  
        <li><strong style="text-decoration: underline;">Qui peut bénéficier du chéquier étudiant ?</strong></li>
        Tous les étudiants inscrits dans une établissement qui propose une formation post bac sur le territoire peuvent
        bénéficier de cet avantage (périmètre Ardenne Métropole). La distribution a lieu sur la base d’un listing précis
        lors du moment convivial, Place Ducale.<br>
        <br>
      </ul>
    </p>
  </div>
  </section>
  {% endblock %}
  {% block stylesheets %}
  <style>
  h2{
    text-shadow: 4px 4px 30px rgba(19,19,17,0.9);
}
li {
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: black;
    display : list-item;
    list-style-type : disc;
} 
</style>
{% endblock %}
  