{% extends 'base.html.twig' %}

 {% block body %}
<center><h1 style="color:black"> INSCRIPTION CAROLO CUISINE </h1><br>
<p>Merci de remplir les champs ci-dessous pour inscrire votre équipe <br>
    et participer au concours de cuisine qui se déroulera place DUCALE et <br>
        devenir la meilleure équipe de cuisine de 2019 de la ville.<br>
          
</p></center><br>


        <div class="form" action="/ma-page-de-formulaire" method="post">
            <div>
                <label for="name"><strong>Etablissement:</strong></label>
                <select name="etablissement" id="etablissement">
                    <option value="IUTRCC">Institut Universitaire de Technologie (IUT RCC)</option>
                    <option value="EiSINe">Ecole d’Ingénieurs en Sciences Industrielles et Numérique (EiSINe)</option>
                    <option value="INSPE">Institut national Supérieur du Professorat et de l’Education (INSPÉ)</option>
                    <option value="EGC">Ecole de gestion et de commerce (EGC)</option>
                    <option value="SIMPLON">Ecole Simplon</option>
                    <option value="ISCEE">Institut supérieur de comptabilité et d’économie des entreprises (ISCEE)</option>
                    <option value="ESNAM">Ecole supérieure nationale des Arts de la marionnettes (ESNAM)</option>
                    <option value="IFSI">Institut de formation en soins infirmiers (IFSI)</option>
                    <option value="CFAI">Centre de formation des apprentis de l’industrie (CFAI)</option>
                    <option value="LABDA">Lycée agricole Balcon des Ardennes</option>
                    <option value="LDMDB">Lycée des métiers de Bazeilles</option>
                    <option value="LMDS">Lycée Sévigné</option>
                    <option value="LDMB">Lycée des métiers Bazin</option>
                    <option value="LC">Lycée Chanzy</option>
                    <option value="LM">Lycée Monge</option>
                    <option value="LJBC">Lycée JB Clément</option>
                    <option value="LPB">Lycée Pierre Bayle</option>
                    <option value="LSV">Lycée Simone Veil</option>
                    <option value="LDA">Digitale Académie</option>
                        
                </select>
            </div>
            <div>
                    <label for="name"><strong>Nom de l'équipe (à votre choix):</strong></label>
                    <input type="text" id="equipe" name="equipe">
                </div>
                <div>
                    <label for="name"><strong>Participant:</strong></label>
                    <input type="text" id="participant" name="participant">
                </div>

        <div>
            <label for="name"><strong>Nom:</strong></label>
            <input type="text" id="name" name="Votre nom">
        </div>
        <br>
            <div>
                    <label for="name"><strong>Prénom:</strong></label>
                    <input type="text" id="surname" name="Votre prénom">
                </div>
            <br>
                <div>
                        <label for="name"><strong>Mobile:</strong></label>
                        <input type="text" id="name" name="Votre téléphone mobile">
                    </div>
                <br>
            <div>
                <label for="mail"><strong>E-mail:</strong></label>
                <input type="email" id="mail" name="votre email">
            </div>
        <br>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-light"><strong>S'inscrire</strong></button>
            </div>        

</div><br><br>

        <section>

                <center><h2> Vous désirez vous inscrire à une autre activitée ?</h2>
                    <div class="arrow_box"></div><br><br>
              
                <section>
                      <a  href="formulexpress.html.twig"><button type="button" role="button" style="color:rgb(233, 95, 16)"  class="btn btn-light">INSCRIPTION CAROLO EXPRESS</button></a>
                </section><br>
              
                <section>
                      <a href="formulpiquenique.html.twig"><button type="button" role="button" style="color:rgb(233, 95, 16)"  class="btn btn-light">INSCRIPTION CAROLO PIQUE-NIQUE</button></a>
                </section><br>
              
                <section>
                      <a href="formulwarrior.html.twig" ><button type="button" role="button" style="color:rgb(233, 95, 16)" class="btn btn-light">INSCRIPTION CAROLO WARRIOR</button></a>
                </section><br>
              
              </section></center>

{% endblock %}


    