<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Slider Revolution Example" />
    <meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
    <meta name="author" content="ThemePunch" />
    <title>Mentions légales</title>
    <link rel="stylesheet" href="css/reset.css">
    

    
</head>

<body>
    <?php include("header2.php") ; ?>
    
<div class="mention" style:" height=100vh"><br><br>
<center><h1><strong>Mentions Légales</strong></h1></center>
<p> « Les informations recueillies feront l’objet d’un traitement afin de mettre en place le projet de la Rentrée des étudiants.
     Elles seront destinées uniquement à la Mission Vie Etudiante de la ville de Charleville-Mézières. Elles seront conservées 
     jusqu’à la fin de l’opération. Conformément au Règlement Général de Protection des Données, vous pouvez exercer vos droits
      d’accès et de rectification en vous adressant à dpo@ardenne-metropole.fr ou DPO - Mairie de Charleville-Mézières
       – Service JURA – Place du Théâtre – 08000 CHARLEVILLE-MEZIERES » </p>
</div>

    <?php include("footer1.php") ; ?>


</body>
</html>  